# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# .gitignore

# Ignore the config file with secrets
scripts/config.py

# Ignore Python cache and data files
__pycache__/
*.csv
*.geojsonsrc/scripts/tab20_tract20_tract10_st06.txt
src/scripts/tanc_map_data.geojson
